h1 {
  text-align: center;
  color: white;
  font-size: 100px;
}

body {
  font-size: 85px;
  background-color: #a2d2ff;
  color: white;
}

input {
  font-size: 60px;
  text-align: right;
  background-color: #a2d2ff;
  border: white ;
}

.container {
  margin-top: 0px;
  display: flex;
  flex-direction: column;
  padding: 16px 30px;
  border-radius: 23px;
}

#app {
  display: flex;
  flex-direction: column;
}

#each, #total {
  text-align: right;
  font-size: 60px;
}

.round {
  margin: 120px 0;
}