/* Element Selector */

h1 {
  border-bottom: white 28px dashed;
  color: white;
  font-size: 100px;
  margin-bottom: 20px;
  padding-bottom: 30px;
  text-align: center;
}

body {
  background-color: #a2d2ff;
  color: white;
  font-size: 60px;
}

input {
  background-color: #a2d2ff;
  border: none;
  border-radius: 15px;
  color: white;
  font-size: 60px;
  text-align: right;
  width: 400px;
}

button {
  background-color: white;
  border: none;
  border-radius: 25px;
  color: #a2d2ff;
  font-size: 30px;
  font-weight: 700;
  padding: 25px;
}

/* Class Selector */

.container {
  border-radius: 23px;
  display: flex;
  flex-direction: column;
  margin-top: 0px;
  padding: 16px 30px;
}

.totalamount {
  display: flex;
  font-size: 60px;
  justify-content: flex-end;
}

/* Id Selector */

#app {
  display: flex;
  flex-direction: column;
}

#each, #total, #totaltip {
  font-size: 60px;
  text-align: right;
}

#split {
  border: none;
  border-radius: 10px;
  color: #a2d2ff;
  font-size: 40px;
  margin-left: auto;
  padding: 10px;
  width: 200px;
}

#amount {
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
}

#buttons {
  display: flex;
  justify-content: space-evenly;
  margin-top: 30px;
}

